@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* fonts */


@layer base {
  @font-face {
    font-family: "Poppins-Medium"; /* Name of your custom font */
    font-weight: 400; /* Font weight (normal) */
    src: url("../fonts/Poppins/Poppins-Medium.ttf")
      format('woff'); /* Font source and format */
  }
  @font-face
  {
    font-family: "Poppins-SemiBold"; /* Name of your custom font */
    font-weight: 600; /* Font weight (semi-bold) */
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf")
    format('woff'); /* Font source and format */
    }
    @font-face
  {
    font-family: "Poppins-Black"; /* Name of your custom font */
    font-weight: 600; /* Font weight (Black) */
    src: url("../fonts/Poppins/Poppins-Black.ttf")
    format('woff'); /* Font source and format */
    }
    @font-face
    {
      font-family: "Poppins-Thin"; /* Name of your custom font */
      font-weight: 600; /* Font weight (Thin) */
      src: url("../fonts/Poppins/Poppins-Thin.ttf")
      format('woff'); /* Font source and format */
      }
      @font-face
    {
      font-family: "Poppins-Regular"; /* Name of your custom font */
      font-weight: 600; /* Font weight (Regular) */
      src: url("../fonts/Poppins/Poppins-Regular.ttf")
      format('woff'); /* Font source and format */
      }

      @font-face
    {
      font-family: "Poppins-Light"; /* Name of your custom font */
      font-weight: 600; /* Font weight (Light) */
      src: url("../fonts/Poppins/Poppins-Light.ttf")
      format('woff'); /* Font source and format */
      }
      @font-face
    {
      font-family: "Poppins-ExtraLight"; /* Name of your custom font */
      font-weight: 600; /* Font weight (ExtraLight) */
      src: url("../fonts/Poppins/Poppins-ExtraLight.ttf")
      format('woff'); /* Font source and format */
      }
      @font-face
    {
      font-family: "Poppins-Bold"; /* Name of your custom font */
      font-weight: 600; /* Font weight (Bold) */
      src: url("../fonts/Poppins/Poppins-Bold.ttf")
      format('woff'); /* Font source and format */
      }
      @font-face
    {
      font-family: "Poppins-ExtraBold"; /* Name of your custom font */
      font-weight: 600; /* Font weight (ExtraBold) */
      src: url("../fonts/Poppins/Poppins-ExtraBold.ttf")
      format('woff'); /* Font source and format */
      }
      @font-face
    {
      font-family: "Poppins-Light"; /* Name of your custom font */
      font-weight: 600; /* Font weight (Light) */
      src: url("../fonts/Poppins/Poppins-Light.ttf")
      format('woff'); /* Font source and format */
      }


        @font-face {
          font-family: ClashGrotesk-Medium;
          font-style: normal;
          font-weight: 200 700;
          font-display: swap;
          src: url("../fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Medium.woff2") format("woff2");
        }
}





.card-bg {
  background-image: url('../../public/BG 01.jpg');
  background-size: cover;
  background-position: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
